[submodule "Modules/posh-git"]
	path = Modules/posh-git
	url = git://github.com/dahlbyk/posh-git.git
[submodule "Modules/posh-svn"]
	path = Modules/posh-svn
	url = git://github.com/JeremySkinner/posh-svn.git
[submodule "Modules/Find-String"]
	path = Modules/Find-String
	url = git://github.com/drmohundro/Find-String.git
